@font-face {
    font-family: "Britanic";
    src: url("fonts/BRITANIC.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#h1-portfolio {
    font-family: 'Britanic';
    font-size: 64px;
    text-align: center;
}

.navbar {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    position: static;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.navbar-li {
    float: left;
}

.navbar-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-a:hover {
    background-color: #111111;
}